@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.loginForm{
    position: relative;
    min-width: 40%;
    max-width: 40%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color: #000;
}

.loginForm form{
    width:85%;
}

.loginForm h1{
    margin: 0 0 40px 0;
    text-align: center;
    cursor: default;
}

.loginForm h1 span{
    font-weight:lighter ;
    font-family: 'Great Vibes', cursive;
}


.ContainerSpinnerForm{
    position: relative;
    display: flex;
    align-items: center;
}

.ContainerSpinnerForm .spinnerLoginForm{
    margin: -13px 12px 0 0;
}

.msjIncompleteForm{
    color: rgb(187, 3, 3);
    margin-top: 5px;
}

.msjIncompleteForm svg{
    margin: 0 5px 3px 0;
}

@media all and (max-width:900px){
    .loginForm{
        position: relative;
        min-width: 100%;
        max-width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.267);
    }
}